.pageWrapper {
    background-color:  #000000;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vw;
    width: 100vw;
  }

.hands{
margin-left: 275px;
margin-top: 75px;
}